---
layout: default
title: GitLab Cloud
---
<div id="content">
  <div class="container txt-lefty">     
    <div class="row">
      <div class="col-sm-9 col-md-9"> 
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h2>GitLab Cloud is now GitLab.com</h2>
              GitLab Cloud was <a href="/2014/04/18/gitlab-cloud-becomes-gitlab-com/">renamed</a> to <a href="/gitlab-com">GitLab.com</a>.
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
