.vacancy h1 {
  font-weight: 600;
  margin-top: 0;
  text-transform: uppercase;
}

.vacancy h1 small {
  text-transform: none;
  font-weight: 300;
}

.vacancy {
  border-radius: 5px;
  color: #555;
  font-size: 1.7rem;
  margin-bottom: 25px;
}

.vacancies {
  max-width: 700px;
}

.vacancies .listed-vacancies {
  list-style: none;
  padding-left: 0px;
}

.vacancies .listed-vacancies a {
  font-size: 18px;
}
