{% include default_head.html %}

    {% unless page.suppress_header %}
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
    {% endunless %}

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>
