---
layout: default
title: DMCA Policy
---
<div id="content">
  <div class="container txt-lefty">     
    <div class="row">
      <div class="col-sm-9 col-md-9"> 
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>If you feel your intellectual property rights are being violated by a Gitlab.com user, please email support@gitlab.com stating the user (can be found in the url), a description of and a url to the content you believe is yours, and proof of your intellectual property. We will review your claim and take whatever action we deem appropriate, including removal of the challenged content from the website.</p>

            </div>        
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
