<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/libs/jquery.min.js"><\/script>')</script>
<script src="/javascripts/libs/bootstrap.min.js"></script>
<script src="/javascripts/libs/jquery.fitvids.js"></script>
<script src="/javascripts/libs/jqBootstrapValidation.js"></script>
<script src="/javascripts/libs/jquery.magnific-popup.min.js"></script>
<script src="/javascripts/libs/bounce.js"></script>
<script src="/javascripts/consultancy.js"></script>
<script src="/javascripts/products.js"></script>
<script src="/javascripts/downloads.js"></script>
<script src="/javascripts/subscription.js"></script>
<script src="/javascripts/feature_page.js"></script>
<script src="/javascripts/community.js"></script>
<script src="/javascripts/company.js"></script>
<script src="/javascripts/services.js"></script>
