---
layout: default
title: GitLab CE Download Archives
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>
                <strong>Packages</strong>
                <br />
                The latest packages are found at the top.
              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Platform</th>
                    <th>Download</th>
                    <th>SHA256</th>
                  </tr>
                </thead>
                <tbody>

                  <!-- 7.5.1 / CI 5.2.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb">gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb</a></td>
                    <td>ccf753d0da67e22e95160b75a36bec22cc3301dd18600efab5953083742e7f6a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb">gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb</a></td>
                    <td>cf535aa2444b44f77397ae1b0f5a929920bbc6fa0c99e256b78c9197dab5faf4</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb">gitlab_7.5.1-omnibus.5.2.0.ci-1_amd64.deb</a></td>
                    <td>93a2fe718376f3478b010d59d07c82928f4dcd6c4600419be53fbbea6356ebb1</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.6 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.5.1_omnibus.5.2.0.ci-1.el6.x86_64.rpm">gitlab-7.5.1_omnibus.5.2.0.ci-1.el6.x86_64.rpm</a></td>
                    <td>887f6ac3fa5c50baa06f4b5ce0f21c94bb4823c96ec0813ac93eabfd40039ba9</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.5.1_omnibus.5.2.0.ci-1.el7.x86_64.rpm">gitlab-7.5.1_omnibus.5.2.0.ci-1.el7.x86_64.rpm</a></td>
                    <td>aeac611173973ef4d256bc77f029f53834d0e48f409fd54b6f0ff26fe434e41e</td>
                  </tr>

                  <!-- 7.4.4 / CI 5.1.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb">gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb</a></td>
                    <td>26bc56cf9892866218a7ffc9729eaf60799b419636ea451fe941d6b8c7938dc0</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb">gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb</a></td>
                    <td>152df61ba6bce33384bd5f3f5328aeb9b312410b9b3030a0253832a51d749ffd</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb">gitlab_7.4.4-omnibus.5.1.0.ci.1-1_amd64.deb</a></td>
                    <td>1353ace3aecbf1ef428437616640aa89766119f6122ba16e3c40438fa4a95e0b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.4.4_omnibus.5.1.0.ci.1-1.el6.x86_64.rpm">gitlab-7.4.4_omnibus.5.1.0.ci.1-1.el6.x86_64.rpm</a></td>
                    <td>4cd5b59d4b073618a1ac4ce91927cbf1555edaa72a59204a810f656c3c0e379a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.4_omnibus.5.1.0.ci.1-1.el7.x86_64.rpm">gitlab-7.4.4_omnibus.5.1.0.ci.1-1.el7.x86_64.rpm</a></td>
                    <td>7727ca73412264ebd925bdeb331f118e2ff79cd2f01031a41b01a51278ae9e75</td>
                  </tr>

                  <!-- 7.4.3 / CI 5.1.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb">gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb</a></td>
                    <td>MD5: 85858da974d9430b5580165e94bede36</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb">gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb</a></td>
                    <td>MD5: 374a7fc435c444f2aac9ee3b95df942b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb">gitlab_7.4.3-omnibus.5.1.0.ci-1_amd64.deb</a></td>
                    <td>MD5: 1b3d22d0d57ea453dfe93cb0c6501db9</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.4.3_omnibus.5.1.0.ci-1.el6.x86_64.rpm">gitlab-7.4.3_omnibus.5.1.0.ci-1.el6.x86_64.rpm</a></td>
                    <td>MD5: a88e13af24cba73055a1f8f94fdcd2fa</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.3_omnibus.5.1.0.ci-1.el7.x86_64.rpm">gitlab-7.4.3_omnibus.5.1.0.ci-1.el7.x86_64.rpm</a></td>
                    <td>MD5: c1c6f377e7adbbf30fb4e0be6810d58a</td>
                  </tr>

                  <!-- 7.4.3 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.3-omnibus.1-1_amd64.deb">gitlab_7.4.3-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: d964b14e5c1357eaee29ec1d7644b63a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.3-omnibus.1-1_amd64.deb">gitlab_7.4.3-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: 709328b5770cbf10291396cae0ce05d8</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.3-omnibus.1-1_amd64.deb">gitlab_7.4.3-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: e0da1630b65fa13ee04e424d921286e9</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.4.3_omnibus.1-1.el6.x86_64.rpm">gitlab-7.4.3_omnibus.1-1.el6.x86_64.rpm</a></td>
                    <td>MD5: eda1c10ca0cdf4ee917fb31abdd2d351</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.3_omnibus.1-1.el7.x86_64.rpm">gitlab-7.4.3_omnibus.1-1.el7.x86_64.rpm</a></td>
                    <td>MD5: e33a540089f9489b8af69c6e55f3e656</td>
                  </tr>

                  <!-- 7.4.2 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.2-omnibus-1_amd64.deb">gitlab_7.4.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 04de59368a8e0d98ec96a609f9983e35</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.2-omnibus-1_amd64.deb">gitlab_7.4.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 1a694da813e8b0d3470992bc568fab71</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.2-omnibus-1_amd64.deb">gitlab_7.4.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: af10979a19b54ed5e42f7ed4b5686e0f</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.4.2_omnibus-1.el6.x86_64.rpm">gitlab-7.4.2_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 0a5931993e7f39bf078c7ede82798af5</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.2_omnibus-1.el7.x86_64.rpm">gitlab-7.4.2_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: 6fd2d29379f34b5fcda58277fe92c11e</td>
                  </tr>

                  <!-- 7.4.1 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.1-omnibus-1_amd64.deb">gitlab_7.4.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: c96422652f50f51dc1cf410203fde98d</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.1-omnibus-1_amd64.deb">gitlab_7.4.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 83ad8326d7cce71a7bcf7941d749755d</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.1-omnibus-1_amd64.deb">gitlab_7.4.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: f564db1c9daf91b62bb36cc076527d3b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.4.1_omnibus-1.el6.x86_64.rpm">gitlab-7.4.1_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: ab7c81c9662d54498956d8f53973f724</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.1_omnibus-1.el7.x86_64.rpm">gitlab-7.4.1_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: 13c794862423ebed764c4ff46352f561</td>
                  </tr>

                  <!-- 7.4.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.4.0-omnibus-1_amd64.deb">gitlab_7.4.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: cb7b18b52156ff2b187079cb16047735</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.4.0-omnibus-1_amd64.deb">gitlab_7.4.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 5e92e21a3b94bb849174120034780d2a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.4.0-omnibus-1_amd64.deb">gitlab_7.4.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: b409d8407b09b6721328d7cfdb1cff1d</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.4.0_omnibus-1.el6.x86_64.rpm">gitlab-7.4.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 4497e03181fbd08b8c9665b951ca9e1a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.4.0_omnibus-1.el7.x86_64.rpm">gitlab-7.4.0_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: 4841784162e58b9a4afc7b0d0dfeeb18</td>
                  </tr>

                  <!-- 7.3.2 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.3.2-omnibus-1_amd64.deb">gitlab_7.3.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: a02ad3dd05607688b26736835f440db6</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.3.2-omnibus-1_amd64.deb">gitlab_7.3.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 8d02844981d742511d8df6ae93a2885c</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.3.2-omnibus-1_amd64.deb">gitlab_7.3.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: cf27740c91a91069ea2775e22c8b0be7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.3.2_omnibus-1.el6.x86_64.rpm">gitlab-7.3.2_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 8ed622dc1070e202b1123d1ce283e96f</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.3.2_omnibus-1.el7.x86_64.rpm">gitlab-7.3.2_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: f218944e33cfabcac522a4384ae3ac0f</td>
                  </tr>

                  <!-- 7.3.1 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.3.1-omnibus-1_amd64.deb">gitlab_7.3.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 5f6b63eaae9617e69afcda2168f4b460</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.3.1-omnibus-1_amd64.deb">gitlab_7.3.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 992940f5a31b28be3ee77046198b3329</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.3.1-omnibus-1_amd64.deb">gitlab_7.3.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 7c969d0590ebc425211209c574ede3a7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.3.1_omnibus-1.el6.x86_64.rpm">gitlab-7.3.1_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 6055ae3448e8efbe00d8b2850b8ed9c5</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.3.1_omnibus-1.el7.x86_64.rpm">gitlab-7.3.1_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: cfc7a64e1d4b81d2a7fb1ef4604d7db6</td>
                  </tr>

                  <!-- 7.3.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.3.0-omnibus-1_amd64.deb">gitlab_7.3.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 10579e2c812b893bf59c7f1a5e8ae8b6</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.3.0-omnibus-1_amd64.deb">gitlab_7.3.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 7ea1fa334a623f817d2b1992b5c828e2</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.3.0-omnibus-1_amd64.deb">gitlab_7.3.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: b8e950ca65c51994a11d4fb6176d48ab</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.3.0_omnibus-1.el6.x86_64.rpm">gitlab-7.3.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 22995995d1bdec1fa467e03c64ceb681</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.3.0_omnibus-1.el7.x86_64.rpm">gitlab-7.3.0_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: dd549a9f3679d088374119b7b2e7c81a</td>
                  </tr>

                  <!-- 7.2.2 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.2.2-omnibus-1_amd64.deb">gitlab_7.2.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 27e2304bcbcb2928ee9e0e7c0ce1932d</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.2.2-omnibus-1_amd64.deb">gitlab_7.2.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: ad361daf2f008ed4989d86ba7bd9775b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.2.2-omnibus-1_amd64.deb">gitlab_7.2.2-omnibus-1_amd64.deb</a></td>
                    <td>MD5: b84be9db48f2c40d1775b9751ffcf635</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.2.2_omnibus-1.el6.x86_64.rpm">gitlab-7.2.2_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 89f490abb20ac7095966479e540d85ce</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.2.2_omnibus-1.el7.x86_64.rpm">gitlab-7.2.2_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: 44d1cde91250b2fc50586afba97d503a</td>
                  </tr>


                  <!-- 7.2.1 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.2.1-omnibus.1-1_amd64.deb">gitlab_7.2.1-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: 788f7bcbd0314ce25a4d89ced7730cf2</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.2.1-omnibus.1-1_amd64.deb">gitlab_7.2.1-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: 6800253a8d03f5341b901a472f6a389f</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.2.1-omnibus.1-1_amd64.deb">gitlab_7.2.1-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: aef0f0f41a34b06f1a84664096089b5f</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.2.1_omnibus-1.el6.x86_64.rpm">gitlab-7.2.1_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: ea135cabcdc86f4a2b7bfbb9c5ae973f</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.2.1_omnibus-1.el7.x86_64.rpm">gitlab-7.2.1_omnibus-1.el7.x86_64.rpm</a></td>
                    <td>MD5: b6fce1b0e95942966792aceca96fb285</td>
                  </tr>


                  <!-- 7.2.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.2.0-omnibus.3-1_amd64.deb">gitlab_7.2.0-omnibus.3-1_amd64.deb</a></td>
                    <td>MD5: d2401ca3864fe98242d621724ce20a88</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.2.0-omnibus.3-1_amd64.deb">gitlab_7.2.0-omnibus.3-1_amd64.deb</a></td>
                    <td>MD5: 3192de2c7b3d344f181b5aa260d810c7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.6/gitlab_7.2.0-omnibus.3-1_amd64.deb">gitlab_7.2.0-omnibus.3-1_amd64.deb</a></td>
                    <td>MD5: f66175ad379dc30cb1b5765d59aa7b7a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.2.0_omnibus-1.el6.x86_64.rpm">gitlab-7.2.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 6ab571a39ef19ac4d203644446c7703e</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 7.0 64bit (compatible with all Enterprise Linux 7.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.2.0_omnibus.1-1.el7.x86_64.rpm">gitlab-7.2.0_omnibus.1-1.el7.x86_64.rpm</a></td>
                    <td>MD5: 5f872916587540bbbfddc64adc08720b</td>
                  </tr>

                  <!-- 7.1.1 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.1.1-omnibus.1-1_amd64.deb">gitlab_7.1.1-omnibus.1-1_amd64.deb</a></td>
                    <td>MD5: 28fb016406a45c8be36fec0eae35c74b</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.1.1-omnibus-1_amd64.deb">gitlab_7.1.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: a712c502cc2ba2c42a6e38703d639e9a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_7.1.1-omnibus-1_amd64.deb">gitlab_7.1.1-omnibus-1_amd64.deb</a></td>
                    <td>MD5: e57852e1ccf991a5d33d5418d3306a51</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.1.1_omnibus-1.el6.x86_64.rpm">gitlab-7.1.1_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 72b794d86941bdbc684c0dbd96a957dd</td>
                  </tr>

                  <!-- 7.1.0 -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.1.0-omnibus-1_amd64.deb">gitlab_7.1.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 1d4aa186319b9a4210c5549557c1bb02</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.1.0-omnibus-1_amd64.deb">gitlab_7.1.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 92eec1e8cc77ac451d5a39f02fa02764</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_7.1.0-omnibus-1_amd64.deb">gitlab_7.1.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 7f346c0a604190432f51de2ed128c2f7</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.1.0_omnibus-1.el6.x86_64.rpm">gitlab-7.1.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: b3755fdbe754bec9275b1ba290a591e7</td>
                  </tr>

                  <!-- / 7.0.0 and below -->
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 302a22620dee2a7c26756ef63753bf98</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 4e2f1e0da67496fb367c137f04e0f11a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                    <td>MD5: 9bfd55e638d068b83441e9fdc188e331</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.0.0_omnibus-1.el6.x86_64.rpm">gitlab-7.0.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>MD5: 6bdf1d4f4d43dd39c6aa15f5bfa7d72e</td>
                  </tr>

                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                      <td>MD5: 302a22620dee2a7c26756ef63753bf98</td>
                    </tr>

                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.9.2-omnibus.2-1_amd64.deb">gitlab_6.9.2-omnibus.2-1_amd64.deb</a></td>
                      <td>MD5: 1825443df46140139f8e85b8b38c8733</td>
                    </tr>

                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.9.1-omnibus-1_amd64.deb">gitlab_6.9.1-omnibus-1_amd64.deb</a></td>
                      <td>MD5: 02e225ea371e3ce23cafd6d146ecf267</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.9.0-omnibus-1_amd64.deb">gitlab_6.9.0-omnibus-1_amd64.deb</a></td>
                      <td>MD5: c972cdb0262a70f46cb3900a31d0f680</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.8.2-omnibus-1_amd64.deb">gitlab_6.8.2-omnibus-1_amd64.deb</a></td>
                      <td>MD5: b21dbadc890b8a6eb405e1771eea4d73</td>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.8.1-omnibus.4-1_amd64.deb">gitlab_6.8.1-omnibus.4-1_amd64.deb</a></td>
                      <td>MD5: 93eb68aa407a33f01b376308bde0b465</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.5-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.7.5-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: f9388f42f04433d0c0b7a17e4b2bcdec</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.4-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.7.4-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: 3e9e72bd713802b45c5a7fa53cdb2077</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.3-omnibus.3-1.ubuntu.12.04_amd64.deb">gitlab_6.7.3-omnibus.3-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: 4f595ff0c6a8e16f8e06bf307579b148</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.3-omnibus.2-1.ubuntu.12.04_amd64.deb">gitlab_6.7.3-omnibus.2-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: 06b22ec592408d12e2d47e86bafc5d6a</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.2-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.7.2-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: 13555c13e61ad87af820c461969996ad</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.5-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.6.5-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: f67badffae3b3f855b05133f6776bf3a</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.4-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.6.4-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: fa5642248ef8ea1ff3970abc7547f7fc</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.0-pre1.omnibus.3-1.ubuntu.12.04_amd64.deb">gitlab_6.6.0-pre1.omnibus.3-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>MD5: a3fcf83062b5de1a035db1f0b00a63ea</td>
                    </tr>
                      <tr>
                        <td><img src="/images/ubuntu.png"></td>
                        <td>Ubuntu 12.04 LTS 64bit</td>
                        <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.0-pre1.omnibus.2-1.ubuntu.12.04_amd64.deb">gitlab_6.6.0-pre1.omnibus.2-1.ubuntu.12.04_amd64.deb</a></td>
                        <td>MD5: d9702efc7fe13d4033c50a3c382b0227</td>
                    </tr>

                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                      <td>MD5: 9bfd55e638d068b83441e9fdc188e331</td>
                    </tr>

                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_6.9.2-omnibus.2-1_amd64.deb">gitlab_6.9.2-omnibus.2-1_amd64.deb</a></td>
                      <td>MD5: 4b6c085654c161d3526fdf912a72b14e</td>
                    </tr>

                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.9.1-omnibus-1_amd64.deb">gitlab_6.9.1-omnibus-1_amd64.deb</a></td>
                      <td>MD5: aabf00de1d518bbd82ee122e9e45c2c1</td>
                    </tr>
                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.9.0-omnibus.2-1_amd64.deb">gitlab_6.9.0-omnibus.2-1_amd64.deb</a></td>
                      <td>MD5: 05b2078824c187276ded039fc1108963</td>
                    </tr>
                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7.4 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.8.2-omnibus-1_amd64.deb">gitlab_6.8.2-omnibus-1_amd64.deb</a></td>
                      <td>MD5: 499fa23196fb139b09c15335014a5463</td>
                    </tr>
                    <tr>
                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7.4 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.8.1-omnibus.4-1_amd64.deb">gitlab_6.8.1-omnibus.4-1_amd64.deb</a></td>
                      <td>MD5: e3696d1adc4872f067ed16b020ef55d2</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.0.0_omnibus-1.el6.x86_64.rpm">gitlab-7.0.0_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 6bdf1d4f4d43dd39c6aa15f5bfa7d72e</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.9.2_omnibus.2-1.el6.x86_64.rpm">gitlab-6.9.2_omnibus.2-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 9cd0ccb6f2dd1ab6239e3258bae439e3</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.9.1_omnibus-1.el6.x86_64.rpm">gitlab-6.9.1_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 583c60b37bca999c63f88ea8d171d093</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.9.0_omnibus-1.el6.x86_64.rpm">gitlab-6.9.0_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 277482450a8a1a006994b64568633919</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.8.2_omnibus-1.el6.x86_64.rpm">gitlab-6.8.2_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: e691eff2f7c82571c6b011c00fc64196</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.8.1_omnibus.4-1.el6.x86_64.rpm">gitlab-6.8.1_omnibus.4-1.el6.x86_64.rpm</a></td>
                      <td>MD5: f4c8dc83ecb300e11480c9918b524421</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.5_omnibus-1.el6.x86_64.rpm">gitlab-6.7.5_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 5e20e740da461d3c58091e5899294a93</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.4_omnibus-1.el6.x86_64.rpm">gitlab-6.7.4_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: df54df440c133cf4d24e4e0ab72f040d</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.3_omnibus.3-1.el6.x86_64.rpm">gitlab-6.7.3_omnibus.3-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 34a44af9a461acc10382348855f1de19</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.3_omnibus.2-1.el6.x86_64.rpm">gitlab-6.7.3_omnibus.2-1.el6.x86_64.rpm</a></td>
                      <td>MD5: ff80edc1133cb04f69a2e3c74d4b92d5</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.2_omnibus-1.el6.x86_64.rpm">gitlab-6.7.2_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 58c8c3411a052855ce6152212ffea2c3</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.5_omnibus-1.el6.x86_64.rpm">gitlab-6.6.5_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 53fa8fb4c5572de2faeeffd91a6cdd27</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.4_omnibus-1.el6.x86_64.rpm">gitlab-6.6.4_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 19f0ef4601d556eef31e38f7282e70aa</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.0_pre1.omnibus.3-1.el6.x86_64.rpm">gitlab-6.6.0_pre1.omnibus.3-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 6ed0d89d1c7d65f80df60d78eab1e87d</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.0_pre1.omnibus.2-1.el6.x86_64.rpm">gitlab-6.6.0_pre1.omnibus.2-1.el6.x86_64.rpm</a></td>
                      <td>MD5: 34a0fef3c803f86f9584e54de0e45cc9</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
